doctype html
html
  head
    title SCALE
    style(type='text/css').
      body
      {
      background-image: url('public/pics/background.jpg');
      display: flex;
      flex-direction: column;
      font-family: helvetica;
      }
      .top
      {
      display: flex;
      flex-direction: row;
      height: 75px;
      width: 99.5%;
      background-color: rgb(0,66,58);
      margin: -1vw 0 0 -1vw;
      padding: 1vw;
      }
      .top a
      {
      text-decoration: none;
      color: white;
      font-size: 30px;
      margin: auto;
      }
      .top a:hover
      {
      color:rgb(2,254,206);
      }
      .top img
      {
      height: 200px;
      width: 200px;
      }
      .bottom
      {
      margin-top: 100px;
      text-align: center;
      color: white;
      }
  body
    .top
      a#left(href='login.pug') LOGIN
      img(src='public/pics/logo.png')
      a#right(href='signup.pug') SIGNUP
    .bottom
      h1 What is SCALE?
      p
        | SCALE
        | (Service, Creativity, Action and Leadership Enhancement)
        | SCALE is a program in the Philippine Science High School System that provides scholars with the opportunity to engage in activities that will widen their interests, enable them to collaborate with a team, hone their leadership skills, serve their community and learn something new.
      p
        | This aims to develop scholars that are reflective and creative thinkers, adventurous, active, and balanced. This program shall engage scholars in activities in four strands. Each activity may cover one or more strand. The strands are characterized as follows: Service, which is an unpaid and voluntary exchange that benefits the scholar's learning, the school, the community and the environment; Creativity , that includes arts, and other experiences that involve creative thinking and output; Action, which involves physical activity contributing to a healthy lifestyle; Finally Leadership, that engages in leading a team or planning and implementing a relevant program or activity.
      p
        | This allows scholars to develop or enhance their personal and interpersonal skills and nurture important values by engaging in extracurricular activities within or outside of the school campus. Each campus endeavors to provide scholars with a personal journey of self-realization which is challenging and enjoyable.
      p
        | To Qualify a SCALE activity, each of the following criteria must be met: it is realistic and powerful with significant outcomes,  it provides an achievable personal challenge, and engages the scholars to reflect on outcomes and their personal learning.
