doctype html
html
  head
    title Redirect
  body
    p You have successfully created an event #{events.name}
    br
    br
    p Other students can join your event once your SCALE adviser approves it.
