doctype html
html
  head
    title SCALE | Sign UP
    style(type='text/css').
      body
      {
      height: 649px;
      background: -webkit-linear-gradient(left top, rgb(255,255,255) 0%,rgb(2,254,254) 20%, rgb(1,201,177) 40%, rgb(0,66,55) 100%);
      background: -o-linear-gradient(bottom right, rgb(255,255,255) 0%,rgb(2,254,254) 20%, rgb(1,201,177) 40%, rgb(0,66,55) 100%);
      background: -moz-linear-gradient(bottom right, rgb(255,255,255) 0%,rgb(2,254,254) 20%, rgb(1,201,177) 40%, rgb(0,66,55) 100%);
      background: linear-gradient(to bottom right, rgb(255,255,255) 0%,rgb(2,254,254) 20%, rgb(1,201,177) 40%, rgb(0,66,55) 100%);
      }
      .main
      {
      margin: 75px 0 0 250px;
      height:500px;
      display: flex;
      flex-direction: row;
      }
      .left
      {
      width: 420px;
      }
      .left img
      {
      height:510px;
      width: 420px;
      }
      .right
      {
      height:500px;
      width: 420px;
      background: white;
      display: flex;
      flex-direction: column;
      overflow: auto;
      text-align: center;
      padding-bottom: 10px;
      }
      .right input
      {
      width: 270px;
      margin-top: 17.5px;
      height: 45px;
      background-color: rgba(0,66,58,.72);
      outline: none;
      color: white;
      text-align: center;
      border:none;
      }
      ::placeholder{
      color: white;
      text-align: center;
      }
      input.button{
      background-color: rgb(0,66,58)
      }
      .hey
      {
      padding: auto;
      display: flex;
      flex-direction: row;
      width: 270px;
      margin-top: 17.5px;
      height: 45px;
      margin-left: 75px;
      }
      select
      {
      width: 175px;
      background-color: rgba(0,66,58,.72);
      outline: none;
      color: white;
      text-align: center;
      border:none;
      }
      label
      {
      padding-top: 8px;
      width: 105px;
      background-color: rgba(0,66,58,.72);
      outline: none;
      color: white;
      text-align: center;
      border:none;
      }
  body
    .main
      .left
        img(src="public/pics/side.png")
      .right
        form(method="POST",action="/profile")
          input(type="text", placeholder='FIRSTNAME', name="first_name")
          input(type="text", placeholder='LASTNAME', name="last_name")
          input(type="text", placeholder='STUDENT ID', name="student_number")
          .hey
            label  TEACHER 
            select(name="teacher_id")
              option(value='1') Beberly Del Rosario
              option(value='2') Ricky Oropesa
              option(value='3') Francis Barrio
              option(value='4') Mark Anthony Del Rosario
              option(value='5') Alpha Rowena Pimentel
              option(value='6') Aileen Pesino
          input(type="text", name="username", placeholder='USERNAME')
          input(type="text", name="password", placeholder='PASSWORD')
          p
            | Already have an account?
            a(href='/login') Click Here
          input.button(type='submit', value='SUBMIT', style='margin-top: auto')
